:root{
    --text-font: 'Outfit', sans-serif;
    --text-normal: 400;
    --text-bold: 700;
    --container-color: hsl(0, 0%, 100%);
    --text-color: hsl(220, 15%, 55%);
    --title-color: hsl(218, 44%, 22%);
    --background-color: hsl(212, 45%, 89%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
    position: relative;
    font-size: 15px;
}

article{
    border-radius: 22px;
    background-color: var(--container-color);
    margin:1.5rem;
    box-shadow: 0 15px 29px hsla(218, 44%, 22%, 0.1);
}

.article-container{
    display: flex;
    flex-direction: column;
    width: min(288px, 80vw);
    margin: 1rem; 
}

img{
    border-radius: 12px;
}

.text{
    margin: 1.5rem 1rem;
}

h1, p{
    text-align: center;
    font-family: var(--text-font);
    
}

h1{
    color:var(--title-color);
    font-weight: var(--text-bold);
}

p{
    margin-top: 1em;
    color:var(--text-color);
    font-weight: var(--text-normal);
}

footer{
    position: absolute;
    bottom: 1rem;
}
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
    text-decoration: none;
}